<div class="bar-container">
    <div class="centered">
        <MudFab OnClick="DecreaseMonth"
                Class="align-self-center"
                Style="font-size: 10px;"
                StartIcon="@Icons.Material.Filled.KeyboardArrowLeft"
                Size="Size.Small"
                Color="Color.Primary" />
        @{
            var year = _monthDto.Year != 0 ? _monthDto.Year.ToString() : string.Empty;
            <MudText Class="month-title" Style="" Typo="Typo.h4">@(_monthName) @(year)</MudText>
        }
        <MudFab OnClick="IncreaseMonth"
                Class="align-self-center"
                Style="font-size: 10px;"
                StartIcon="@Icons.Material.Filled.KeyboardArrowRight"
                Size="Size.Small"
                Color="Color.Primary" />
    </div>
</div>

<CascadingValue TValue="Month" Name="MonthRef" Value="this">
    <div class="day-container">
        @{
            var count = 1;
            foreach (var day in _days)
            {
                <Day DayDto="day" IsFirst7="@(count <= 7)" IsBeforeOrAfter="@(day.Day.Month != _monthDto.Month)" />
                count++;
            }
        }
    </div>
</CascadingValue>