<style>
    .mud-overlay:hover {
        cursor: default;
    }
</style>

<MudPaper Class="stack pa-3" Style="height: min-content; background-color: white;" MinWidth="300px">
    <MudStack>
        <div class="d-flex flex-row">
            <h3 class="align-self-center">@ActivityList.Name</h3>
            <MudSpacer />
            <MudMenu Icon="@Icons.Material.Filled.MoreVert" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopRight" Size="Size.Small">
                <MenuList TasksRef="TasksRef" ListDto="ActivityList" />
            </MudMenu>
        </div>
        <MudButton OnClick="OpenAddActivityDialog" Color="Color.Info" Variant="Variant.Outlined">Dodaj zadanie</MudButton>
        @foreach (var repetition in ActivityList.Repetitions)
        {
            <div style="position: relative;" @oncontextmenu="TogglePopoverMenu" @oncontextmenu:preventDefault="@true">
                <div class="d-flex flex-row repetition" title="@(repetition.InitialTitle)">
                    <span class="align-self-center" style="padding-left: 5%;">@(repetition.InitialTitle)</span>
                    <MudSpacer />
                    @if (repetition.RepetitionTypeId != 1)
                    {
                        <MudIcon Title="@repetition.RepetitionName" Icon="@Icons.Material.Filled.Repeat" />
                    }
                    <MudMenu @ref="_mudMenuRef" Icon="@Icons.Material.Filled.MoreVert" AnchorOrigin="Origin.BottomCenter" TransformOrigin="Origin.TopRight" Size="Size.Small">
                        <MenuTask TasksRef="TasksRef" TaskListRef="this" RepetitionDto="repetition" />
                    </MudMenu>
                </div>

                <MudPopover Open="@_isOpenPopoverMenu" Style="@_popoverStyle" @ontouchend:preventDefault="@true">
                    <MudPaper Style="@(_popoverStyle)">
                        <MenuTask TasksRef="TasksRef" TaskListRef="this" RepetitionDto="repetition" />
                    </MudPaper>
                </MudPopover>

                <MudOverlay Visible="_isOpenPopoverMenu" OnClick="@TogglePopoverMenu" LockScroll="true" />
            </div>
        }
    </MudStack>
</MudPaper>